
<div class="dashbord-container">
    <section *ngIf="!stateFlags.isError">
        <div class="flex-container">
            <h5 *ngIf="selectedState == 'All'" class="info-text">Showing results for all States</h5>
            <h5 *ngIf="selectedState!= 'All'" class="info-text">Showing results for {{selectedState}}</h5>

            <form class="form-inline">
                <label style="padding-right: 10px;" for="exampleFormControlSelect1">Location</label>
                <select class="form-control" name="state" id="exampleFormControlSelect1" [(ngModel)]="selectedState" (change)="onChangeState()">  
                    <option>All</option>        
                    <option *ngFor="let state of stateData.stateList">{{state}}</option>
                </select>
            </form>
        </div>

        <div class="row card-container">
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-red">
                    <h6 class="covid-card-title">OVERALL CASES </h6>

                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Overall COVID-19 Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">Hold On...</p>
                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.total}}</h2>
                            <div class="text-center card-desc">
                                <small>{{stateData?.new}} new cases</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-blue">
                    <h6 class="covid-card-title">ACTIVE CASES </h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Active COVID-19 Positive Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">Hold On...</p>
                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.active}}</h2>
                            <div class="text-center card-desc">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-green">
                    <h6 class="covid-card-title">RECOVERED </h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Recovered COVID-19  Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">Hold On...</p>

                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.recovered}}</h2>
                            <div class="text-center card-desc">
                                <small></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-grey">
                    <h6 class="covid-card-title">DEATHS</h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Dead COVID-19 Cases. RIP:-( 
                      </p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">Hold On...</p>

                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.deaths}}</h2>
                            <div class="text-center card-desc">
                                <small>{{stateData?.newDeaths}} recent deaths</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>