     <br>
     <div class="banner fadeInUp"> 
    <div class="snippet" >
        {{alertMessage}}  &nbsp;</div>
  </div>


  <div class="dashbord-container">
    <section *ngIf="!stateFlags.isError">
        <div class="flex-container">
            <div class="update">
            <h3 *ngIf="selectedState == 'All'" class="info-text">Showing results for all States</h3>
            <h3 *ngIf="selectedState!= 'All'" class="info-text">Showing results for {{selectedState}}</h3>
            </div>
            <form class="form-inline">
                <label style="padding-right: 10px;" for="exampleFormControlSelect1">Location</label>
                <select class="form-control" name="state" id="exampleFormControlSelect1" [(ngModel)]="selectedState"  (change)="onChangeState()">  
                    <option [ngValue]="">All</option>
                    <option *ngFor="let state of stateData.stateList" [ngValue]="state">{{state}}</option>
                </select>
            </form>
        </div>

        <div class="row card-container">
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-red">
                    <h6 class="covid-card-title">OVERALL CASES </h6>

                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Overall COVID-19 Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">
                            <span class="spinner-border" *ngIf="!stateFlags.isStatsLoaded"></span>Loading..
                        </p>
                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.total}}</h2>
                            <div class="text-center card-desc">
                                <small>{{stateData?.new}} new cases</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-blue">
                    <h6 class="covid-card-title">ACTIVE CASES </h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Active COVID-19 Positive Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">
                            <span class="spinner-border" *ngIf="!stateFlags.isStatsLoaded"></span>Loading..
                        </p>
                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.active}}</h2>
                            <div class="text-center card-desc">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-green">
                    <h6 class="covid-card-title">RECOVERED </h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Recovered COVID-19  Cases</p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">
                            <span class="spinner-border" *ngIf="!stateFlags.isStatsLoaded"></span>Loading..
                        </p>

                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.recovered}}</h2>
                            <div class="text-center card-desc">
                                <small></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-grey">
                    <h6 class="covid-card-title">DEATHS</h6>
                    <span class="material-icons">expand_more
                    </span>
                    <div class="answer">
                      <p>Dead COVID-19 Cases. RIP:-( 
                      </p>
                    </div>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!stateFlags.isStatsLoaded">
                            <span class="spinner-border" *ngIf="!stateFlags.isStatsLoaded"></span>Loading.. 
                        </p>

                        <div *ngIf="stateFlags.isStatsLoaded">
                            <h2 class="count">{{stateData?.deaths}}</h2>
                            <div class="text-center card-desc">
                                <small>{{stateData?.newDeaths}} recent deaths</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br><br>

<div *ngIf="selectedState!= 'All'" > 

<div *ngIf="selectedState!= 'All'"  class="update">
<h3 *ngIf="selectedState!= 'All'" class="info-text"> District wise Results Of {{selectedState}} <span class="new" style="color: red; font-size: 0.6em;">&nbsp;&nbsp;**[Click on any district name to get patients related Info]**</span></h3>

</div>
<br>
<ag-grid-angular *ngIf="selectedState!='All' " 
style="width: auto;"
    class="ag-theme-balham"
    [pagination]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [domLayout]="domLayout"
    (firstDataRendered)="onFirstDataRendered($event)"
    >
</ag-grid-angular>
</div>