.covid-card {
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    font-family: 'Archia';
    color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
}

.covid-card-blue {
    background: #1976D2;

}

.covid-card-red {
    background: #d33e3e;

}

.covid-card-green {
    background: #388E3C;

}

.covid-card-grey {
    background: #455A64;

}

.covid-card-white {
    background: rgb(255, 255, 255);
    color: rgba(108, 117, 125, .8);

}



.card-container {
    margin-top: 8px;
    padding: 0 4px;
}

.count {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 80px;
}

.card-desc {
    min-height: 30px;
}



.covid-card-title {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.p-fix {
    padding: 0 8px;
}

@media only screen and (max-width:768px) {
    .count {
        font-size: 2rem;
    }
    .covid-card-title {
        font-size: 0.9em;
    }
}


.material-icons {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: -2px;
    padding: .5rem 1.1rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    color: #f8f5f5;
    
    
  }
  
  .answer {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2em;
    height: 100%;
    border-radius: 1rem;
    clip-path: circle(12% at 100% 0%);
    transition: all 300ms ease-in-out;
    z-index: 1;
    
    
  }

  p {
    color: #033F52;
    font-size: 1.5rem;
  }
  
  .material-icons:hover + .answer {
    background-color: #ffffff;
    clip-path: circle(150% at 100% 0%);
   }

   .ag-body-viewport {
    overflow-y: scroll !important;
}

.loading-text{
    color: whitesmoke;
}

.banner{
display: flex;
flex-direction: row;
justify-content: center;
line-height: 20px;
font-family: "Archia";
font-size: .8rem;
font-weight: 600;
color: white;
background: #03A9F4;}

.banner .snippet{
align-self: center;
word-wrap: break-word;
padding: 1.5rem;
text-align: center;
cursor: pointer;
}

@media only screen and (max-width:768px){
.banner {
    height: 7rem;
}
}

.update{
background: rgba(108,117,125,.0627451);
margin-bottom: .5rem;
padding: .5rem;
border-radius: 5px;
transition: all .2s ease-in-out;
font-weight: 1500;
}

.update .h3{
    font-size: 24px;
    font-weight: bolder;

}