.heading{
margin-bottom: .5rem;
padding: .5rem;
border-radius: 5px;
transition: all .2s ease-in-out;
font-size: 10px;
font-weight: bolder;
}

.previous{
    background-color: black;
    font-weight: bolder;
    font-size: 14px;
    cursor:pointer;
    color:rgb(24,132,255);
    text-decoration:underline;
}

.message{
    background: rgba(108,117,125,.0627451);
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-weight: 1500;
}

pat-info{
color: rgb(4,123,255)
}