<div class="jumbotron">
    <h1 class="pat-info" style="font-weight: bolder; font-family: Arial, Helvetica, sans-serif; color: rgb(4,123,255);">Patients-Information</h1>      
    <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">The below patient information of {{districtName}} district has been gathered from different sources which may be subjected to change.
        More Details will be updated soon.
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Mean While - Stay Home ! Stay Safe!</p>
</div>      


<div class="heading">
    <button class="btn btn-primary" (click)="goBack()" >&laquo; Go To Previous View</button>
    <br><br>
    <p class="message" style="font-family: Arial, Helvetica, sans-serif; font-size: large;">     
        <span class="material-icons">info
        </span>
       <span style="color: rgb(4,123,255);">Please resize,sort the columns based on your comfortable view</span> </p>
</div>

<div>
<ag-grid-angular 
style="width: auto;"
    [ngClass]="{ 'ag-theme-alpine-dark': darkMode , 'ag-theme-material':lightMode}"
    [pagination]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [domLayout]="domLayout"
    (firstDataRendered)="onFirstDataRendered($event)"
    >
</ag-grid-angular>

</div>